extends ../layout

block content
	h1.
		movie ID #{movie._id}
	form(action='/movies/#{movie._id}/edit',method='post',name='updateblob',enctype='application/x-www-form-urlencoded')
		p Title:
			input#inputName(type='text', value='#{movie.title}', name='title')
		p Rating:
			input#inputBadge(type='number', value='#{movie.rating}', name='rating')
		p Watched?:
			input#inputIsLoved(type='checkbox', name='watched', checked=('#{movie.watched}'==='true' ? "checked" : undefined))
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update